<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed"></httpErrors>
    <handlers>
        <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
            scriptProcessor="D:\home\python364x64\python.exe|D:\home\python364x64\wfastcgi.py"
            resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="application.app" />
    <add key="PYTHONPATH" value="packages" />
  </appSettings>
</configuration>