<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <handlers>
      <add name="PythonHandler"
           scriptProcessor="c:\python36\python.exe|c:\python36\lib\site-packages\wfastcgi.py"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </handlers>
  </system.web>
</configuration>