<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed"></httpErrors>
    <handlers>
		<add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python36\python.exe|c:\python36\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
	<fastCgi>
		<application fullPath="C:\Python36\python.exe" arguments="C:\Python36\lib\site-packages\wfastcgi.py" activityTimeout="600" signalBeforeTerminateSeconds="30" />
	</fastCgi>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="worker.worker_shell()" /> 
    <add key="PYTHONPATH" value="D:\Git\WMCC Python;D:\Git\WMCC Python\worker" />
    <add key="WSGI_LOG" value="D:\Git\WMCC Python\worker\wsgi_worker.log" />
  </appSettings>
</configuration>